@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background: #1C1C1C;
  max-width: 100%;
  height: 72px;
  

  a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    padding: 20px 25px;
    margin: 10px auto;
    float: left;
    opacity: 0.69;
    transition: 0.3s;

    &:hover{
      opacity: 1;
    }

    &::after{
      content: "";
      height: 2px;
      width: 100%;
      background: #E27866;
      display: block;
      margin: 22px auto;
      opacity: 0;
      transition: 0.3s;
    }

    &:hover::after{
      opacity: 1;
    }
  
  }

  img{
    max-width: 119px;
    height: 52px;
    margin-top: 10px;
  }
}

header{
  .container{
    display: flex;
    max-width: 100%;
    height: 639px;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/background1.png);
    background-size: cover;
    background-position: center;
  }
  .right{
    color: #FFFFFF;
    img{
      width: 247px;
      height: 108px;
      margin: 40px;
      margin-left: 190px;
    }

    h1{
      width: 426px;
      height: 87px;
      margin-left: 190px;
      
    }
    hr{
      width: 84px;
      margin: 20px 190px;
      
    }
    p{
      width: 651px;
      height: 65px;
      margin-left: 190px;
      
    }
    button{
      width: 135px;
      height: 42px;
      margin: 40px 190px;
      background: transparent;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      cursor: pointer;
      
    }
  }

  .left{

  #container{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px #00000029;
    border-radius: 5px;
    width: 360px;
    height: 425px;
    margin: 40px 20px;
    position: relative;
  
  
  .top{
    display: flex;
    background: #F5F5F5;
    max-width: 360px;
    height: 57px;
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333333;
    font-weight: 600;

    span{
      color: #E27866;
     }
    }

    .form{
      display: flex;
      flex-direction: column;
      
      p{
        text-align: left;
        font-size: 16px;
        color: #1C1C1C;
        font-weight: 600;
        margin: 20px 50px;
      }
      input{
        margin: 10px 50px;
        width: 260px;
        height: 30px;
        border: none;
        border-bottom: 1px solid #00000029;

      }

      .subscirption {
        input[type="radio"] {
          appearance: none;
          width: 13px;
          height: 13px;
          border: 1px solid #41D395;
          border-radius: 100%;
          outline: none;
          cursor: pointer;
          margin-right: 10px;
      
          &:checked {
            background-color: #41D395;
            border-color: #41D395;

            +label{
              font-weight: bold;
            }
          }
        }
      
        label {
          display: inline-block;
          font-size: 9px;
          cursor: pointer;
        }

        input[type="radio"], label {
          display: inline-block;
          vertical-align: middle;
        }
      }
      button{
        position: absolute;
        width: 100%;
        height: 48px;
        bottom: 0px;
        color: #FFFFFF;
        font-size: 18px;
        border-radius: 0px 0px 5px 5px;
        background: #41D395;
        border: none;
        cursor: pointer;
      }
    }
  }
}
}

.social{
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: 105px;
  margin: 40px 100px;

  .text{
    max-width: 394px;
    height: 38px;

    h4{
      font-size: 20px;
      color: #333333;
    }
    p{
      font-size: 14px;
      color: #86878B;
      margin-top: 5px;
    }
  }
  a{
    margin-top: 20px;
    font-size: 30px;
    color: #E27866;

  }
}

aside{
  .container2{
    display: flex;
    max-width: 100%;
    height: 595px;
    background: linear-gradient(270deg, hsla(217, 68%, 64%, 0.42) 0%, hsla(9, 68%, 64%, 0.42) 100%), url(../images/background2.png);
    background-size: cover;
    background-position: 50% 95%;
    

    
    .tab{
      position: absolute;
      top: 100px;
      left: 75px;
      width: 100px;
      height: 100px;
      margin: 20px 100px;
      background: #A37169;
      color: #FFFFFF;
      position: relative;
      cursor: pointer;
      
      p{
        font-size: 14px;
        position: absolute;
        top: 40%;
        left: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: rotate(-45deg);
        
      }
    }

    .text2{
      margin: 130px 10px;
      color: #FFFFFF;
      .heading{
        font-size: 36px;
        max-width: 509px;
        font-weight: 600;
      }
      p{
        max-width: 517px;
        height: 138px;
        margin: 20px auto;
        font-size: 14px;
      }
    }

    .images{
      max-width: 400px;
      margin: 120px auto;
      margin-left: 50px;

      img{
        width: 363px;
        height: 178px;
      }
      .img{
        width: 180px;
        height: 168px;
      }
      

    }
  }
}

section{
  display: flex;
  background: #1C1C1C;
  color: #FFFFFF;
  max-width: 100%;
  height: 596px;

  img{
    margin: 200px;
    max-width: 389px;
    height: 170px;
  }

  .info{
    margin: 80px auto;
    max-width: 500px;

    hr{
      max-width: 200px;
      border: 1px solid #E27866;
    }

    .heading{
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 600;
    }
    p{
      font-size: 14px;
      margin-top: 20px;
      max-width: 400px;
      
    }

    .titles{
      display: flex;
      gap: 10px;
      

      .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        font-size: 20px;
        background: #E27866;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        
      }
      .title1{
        font-size: 14px;
        font-weight: 600;
        
        
      }
      
      }
    }
  }

main{

  max-width: 100%;
  height: 592px;
  

    .awesome{

      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        justify-content: center;
        margin-top: 100px;
        font-size: 36px;
      }
      hr{
        border: 1px solid #E27866;
        width: 64px;
        margin: 30px;
      }
  }


    .container3{
      display: flex;
      gap: 80px;
      margin: 80px 150px;
      padding: 40px;
      
      
      i{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #E27866;
        border: 1px solid #E27866;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        
        
        
      
      }
  
      .design, .crafted, .customize{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        color: #86878B;
        font-weight: lighter;
        cursor: none;

        a{
          text-decoration: none;
        }
        
        h4{
          margin-top: 40px;
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: normal;
          color: #333333;
          display: flex;
          
         
        }

        p{
          text-align: center;
          max-width: 286px;
        }
      }
  
    }

  }


#pricing{
  background: #6696E2;
  max-width: 100%;
  height: 800px;
  

  .prices{

    display: flex;
  
  }

  .pricing{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    

    h1{
      justify-content: center;
      margin-top: 100px;
      font-size: 36px;
    }
    hr{
      border: 1px solid #41D395;
      width: 64px;
      margin: 30px;
    }

}
  
    
    .plan{

      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 30px;
      padding: 25px;
      
      

      

      .main{
        background: #333333;
        max-width: 343px;
        height: 210px;
        border-bottom: 6px solid #41D395;
        border-radius: 5px 5px 0px 0px;

        h1{
          font-size: 94px;
          color: #FFFFFF;
          font-weight: 400;
        }

        h2{
          color: #FFFFFF;
          font-size: 20px;
          font-weight: 400;
          padding: 20px;
        }

        p{
          color: #FFFFFF;
          opacity: 0.5;
          font-size: 14px;
          
        }

        span{
          font-size: 30px;
        }
  
      }
  
      .popular{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 343px;
        height: 34px;
        background: #41D395;
        color: #FFFFFF;
      }
      
    
    ul{
      max-width: 343px;
      height: 240px;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #FFFFFF;
      border-radius: 0px 0px 5px 5px;
    
    li{
      padding:10px;
    }
   }
  }
 }

#customers{
  
    max-width: 100%;
    height: 591px;
  
    .review{
  
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #1C1C1C;
      
  
      h1{
        justify-content: center;
        margin-top: 100px;
        font-size: 36px;
      }
      hr{
        border: 1px solid #6696E2;
        width: 64px;
        margin: 30px;
      }
    }

    .people{
      padding: 50px;
      display: flex;
      gap: 50px;
      justify-content: center;

      .first{
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 273px;
        height: 147px;
        background: #6696E2;
        gap: 50px;
        color: #FFFFFF;
        font-size: 16px;
        border-radius: 8px;
        position: relative;

        &::after{
          content: "";
          position: absolute;
          border: 10px solid;
          border-top-color: #6696E2;
          bottom: -20px;
          left: 25px;
        }
      }

      .second{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
        max-width: 273px;
        height: 125px;
        background: #6696E2;
        gap: 50px;
        color: #FFFFFF;
        font-size: 16px;
        border-radius: 8px;
        position: relative;

        &::after{
          content: "";
          position: absolute;
          border: 10px solid;
          border-top-color: #6696E2;
          bottom: -20px;
          left: 25px;
          
        }
      }

    .Jeremy, .John, .Susan{
      display: flex;
      align-items: center;
        
        p{
          display: flex;
          text-align: center;
          font-size: 14px;
          color: #86878B;
         
        }

        h4{
          font-size: 20px;
          font-weight: 400;
          color: #333333;
        }
        img{
          width: 70px;
          height: 70px;
          margin-right: 20px;
          margin-left: -20px;
          
        }
      }
    }
 }

#form{

  background: #E27866;
  max-width: 100%;
  height: 573px;

  .contact{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    

    h1{
      margin-top: 80px;
      font-size: 36px;
      font-weight: 600;
    }

    p{
      margin: 40px;
      font-size: 14px;
    }
  }

  #container{
    display: flex;
    margin-left: 520px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px #00000029;
    border-radius: 5px;
    width: 390px;
    height: 314px;
    position: relative;

    .form{
      display: flex;
      flex-direction: column;
      
      p{
        font-size: 16px;
        color: #1C1C1C;
        font-weight: 600;

      }
      input{
        margin: 10px 50px;
        width: 260px;
        height: 30px;
        border: none;
        border-bottom: 1px solid #00000029;

      }

      .subscirption {
        input[type="radio"] {
          appearance: none;
          width: 13px;
          height: 13px;
          border: 1px solid #41D395;
          border-radius: 100%;
          outline: none;
          cursor: pointer;
          margin-right: 10px;
      
          &:checked {
            background-color: #41D395;
            border-color: #41D395;

            +label{
              font-weight: bold;
            }
          }
        }
      
        label {
          display: inline-block;
          font-size: 9px;
          cursor: pointer;
        }

        input[type="radio"], label {
          display: inline-block;
          vertical-align: middle;
        }
      }
      button{
        position: absolute;
        width: 158px;
        height: 48px;
        left: 100px;
        bottom: 10px;
        color: #FFFFFF;
        font-size: 15px;
        background: #41D395;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.social2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  max-width: 100%;
  height: 123px;
  background: #1C1C1C;

  a{
    font-size: 20px;
    color: #E27866;

  }

  .text{
    max-width: 394px;
    height: 38px;

    p{
      font-size: 18px;
      color: #FFFFFF;
      padding: 10px;
      opacity: 0.5;
    }
  }
  
}

 

  
  

  
